name: Deployment to PROD
on:
  release:
    types: [published]
permissions:
  contents: read
  security-events: write
  # only required for workflows in private repositories
  actions: read
jobs:
  extract-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Read Release Body
        env:
          RELEASE_BODY: ${{github.event.release.body}}
        run: |
          echo $RELEASE_BODY
          FILE=./parseBody.js 
          if test -f "$FILE"; then
              echo $RELEASE_BODY > ./release_body.txt
              node ./parseBody.js              
              TESTS=$(cat testsToRun.txt)
              echo "APEX_TESTS=$TESTS" >> $GITHUB_ENV     
          else
              TESTS=all
              echo "APEX_TESTS=$TESTS" >> $GITHUB_ENV 
          fi
          echo "Extracted APEX_TESTS: ${{ env.APEX_TESTS }}"