name: Deployment to Production
on:
  push:
    tags:
      - 'v*.*.*'
permissions:
  contents: read
  security-events: write
  # only required for workflows in private repositories
  actions: read
jobs:
  deploy-to-prod:
    # if: startsWith(github.head_ref, 'feature/')
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install Salesforce CLI
        run: |
          npm install -g @salesforce/cli
      - name: Populate auth file with SFDX_URL secret of target org
        run: |
          echo ${{ secrets.PROD_SFDX_URL}} > ./PROD_SFDX_URL.txt
      - name: Authenticate to target Org
        run: sf org login sfdx-url -f ./PROD_SFDX_URL.txt -s -a targetOrg
      - name: Installing java
        run: sudo apt-get update && sudo apt-get install default-jdk
      - name: Installing SFDX analyzer
        run: sf plugins install code-analyzer
      - name: Analize code
        run: sf code-analyzer run --rule-selector Recommended --target ./**/*.cls --severity-threshold 1 --output-file ./apexScanResults.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ./apexScanResults.sarif
      - name: Deployment - run all tests
        run: >
          sf project deploy start --ignore-conflicts --source-dir ./force-app --test-level RunLocalTests --json