name: Deployment to PROD
on:
  release:
    types: [published]
permissions:
  contents: read
  security-events: write
  # only required for workflows in private repositories
  actions: read
jobs:
  deployment-to-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Read Release Body
        env:
          RELEASE_BODY: ${{github.event.release.body}}
        run: |
          echo $RELEASE_BODY
          FILE=./parseBody.js
          echo $FILE
          if test -f "$FILE"; then
            echo $RELEASE_BODY > ./body.txt
            node ./parseBody.js
            TESTS=$(cat testsToRun.txt)
            echo "APEX_TESTS=$TESTS" >> $GITHUB_ENV
          else
            TESTS=all
            echo "APEX_TESTS=$TESTS" >> $GITHUB_ENV
          fi
      - name: Log Tests
        run: |
          echo "Tests to run: ${{env.APEX_TESTS}}"
      - name: Deployment - run specified tests
        if: ${{ env.APEX_TESTS != 'all' }}
        run: >
          echo ${{env.APEX_TESTS}}
      - name: Deployment - run all tests
        if: ${{ env.APEX_TESTS == 'all' }}
        run: >
          echo ${{env.APEX_TESTS}}